{% extends '@!EasyAdmin/page/content.html.twig' %}

    {% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
    {% endblock %}

{% block content %}
<div class="content mt-4">
  <div class="badge d-flex justify-content-between">
    <div class="bg-success text-light p-3 px-5 h4 rounded">
      <p>在编人数</p>
      <p class="m-0">123人</p>
    </div>
    <div class="bg-primary text-light p-3 px-5 h4 rounded">
      <p>人脸数据</p>
      <p class="m-0">123件</p>
    </div>
    <div class="bg-info text-light p-3 px-5 h4 rounded">
      <p>已训练期数</p>
      <p class="m-0">123期</p>
    </div>
    <div class="bg-danger text-light p-3 px-5 h4 rounded">
      <p>累积训练人数</p>
      <p class="m-0">123人</p>
    </div>
  </div>

  <div class="chart-container my-5">
    <h3>区域人数分布</h3>
    <canvas id="chart1"></canvas>
  </div>

  <div class="circle d-flex justify-content-between">
    <div class="chart-container ">
      <h3>年龄分布</h3>
      <canvas id="chart2"></canvas>
    </div>

    <div class="chart-container ">
      <h3>退役军人占比</h3>
      <canvas id="chart3"></canvas>
    </div>
    <div class="chart-container ">
      <h3>党员占比</h3>
      <canvas id="chart4"></canvas>
    </div>
    <div class="chart-container ">
      <h3>整体出勤率</h3>
      <canvas id="chart5"></canvas>
    </div>
  </div>

</div>
{% endblock content %}

{% block body_javascript %}
<script src="{{ asset('js/Chart.min.js') }}"></script>
<script src="{{ asset('js/initChart.js') }}"></script>
{% endblock body_javascript %}
