{% extends '@!EasyAdmin/page/content.html.twig' %}

    {% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
    {% endblock %}

{% block content %}
<div class="content">
  <div class="d-flex my-5">
  </div>
</div>
{% endblock content %}

{% block body_javascript %}
{% endblock body_javascript %}
