{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
    <ul class="list-group">
        {% for item in field.value %}
            <li class="list-group-item">
            <a href="{{ item }}" target="_blank">
              <img class="w-100" src="{{ item }}"></img>
            </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    {{ field.formattedValue }}
{% endif %}
